.posts {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &-published {
        margin-left: 2rem;
    }

    &-actions {
        display: flex;
        justify-content: flex-start;
        & > * {
            margin-right: 0.5rem;
        }
    }
}
